<div class="container mt-3">
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-headder bg-secondary text-white">
                <p class="h3">Card Text</p>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input (input)="Changeusername($event)" type="text" class="form-control" placeholder="User Name">
                    </div>
                    <p class="h3">{{username}}</p>
                </form>
            </div>
        </div>
    </div>
</div>
</div>