<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <p class="h4">{{msg.toUpperCase()}}</p>
                    <!-- <p>{{msg.length}}</p> -->

                </div>
                <div class="card-body">
                    <h3>&#8377;{{price.toFixed(2)}}</h3>
                    <h3>{{getDate()}}</h3>
                    
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quibusdam dolorem
                        quae unde fugit quas delectus facere aliquam architecto consequatur!</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-secondary text-white">
                <p class="h4">Digital Watch</p>
                </div>
                <div class="card-body bg-light">
                <h3 class="display-3">{{time}}</h3>
              </div>
            </div>
        </div>
        
    </div>
</div>