<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
  <a href="/" class="navbar-brand">Angular with GitHub App</a>
</nav>
<!-- <app-card></app-card> -->
 <!-- <app-card-interpolation></app-card-interpolation> -->
 <!-- <app-tour-card></app-tour-card> -->
  <!-- <app-mag-card></app-mag-card> -->
   <!-- <app-counter></app-counter> -->
    <!-- <app-info-card></app-info-card> -->
     <!-- <app-product-item></app-product-item> -->
      <!-- <app-stop-watch></app-stop-watch> -->
       <!-- <app-text-card></app-text-card> -->
        <!-- <app-user-card></app-user-card> -->
        <!-- <app-sms-app></app-sms-app> -->
        <!-- <app-show-password></app-show-password> -->
         <!-- <app-amount-range></app-amount-range> -->
           <!-- <app-theme></app-theme> -->
          <!-- <app-register></app-register> -->
          <!-- <app-auth-card></app-auth-card> -->
           <!-- <app-hobby-select></app-hobby-select> -->
            <!-- <app-hobby-switch></app-hobby-switch> -->
             <!-- <app-employee></app-employee> -->
              <!-- <app-person-list></app-person-list> -->
               <!-- <app-parent></app-parent>  -->
                <!-- <div class="container mt-3">
                  <div class="row">
                    <div class="col-md-4">
                        <app-client-card [receiveText]="fromServer" (sendParent)="fromClient=$event"> </app-client-card>
                    </div>
                     <div class="col-md-2"> </div>
                     <div class="col-md-4">
                        <app-server-card  [receiveText]="fromClient" (sendToClient)="fromServer=$event"></app-server-card>
                    </div>
                  </div>
                </div> -->
                <!-- <app-employee-card></app-employee-card>
                <app-employee-list></app-employee-list> -->
                <!-- <app-contact-app></app-contact-app> -->
               <app-github-app></app-github-app>
