<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
  <a href="/" class="navbar-brand">Angular with Bootstrap</a>
</nav>
<!-- <app-card></app-card> -->
 <!-- <app-card-interpolation></app-card-interpolation> -->
 <!-- <app-tour-card></app-tour-card> -->
  <!-- <app-mag-card></app-mag-card> -->
   <!-- <app-counter></app-counter> -->
    <!-- <app-info-card></app-info-card> -->
     <!-- <app-product-item></app-product-item> -->
      <!-- <app-stop-watch></app-stop-watch> -->
       <!-- <app-text-card></app-text-card> -->
        <!-- <app-user-card></app-user-card> -->
        <!-- <app-sms-app></app-sms-app> -->
        <!-- <app-show-password></app-show-password> -->
         <!-- <app-amount-range></app-amount-range> -->
          <!-- <app-theme></app-theme> -->
          <app-register></app-register>