<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img [src]="img1" alt="" class="img-fluid">
                <div class="card-body">
                    <p class="h4">{{tour[0]}}</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ratione itaque velit iure explicabo modi dolorem id delectus eos harum?  
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img [src]="img2" alt="" class="img-fluid">
                <div class="card-body">
                     <p class="h4">{{tour[1]}}</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ratione itaque velit iure explicabo modi dolorem id delectus eos harum?  
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img [src]="img3" alt="" class="img-fluid">
                <div class="card-body">
                     <p class="h4">{{tour[2]}}</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ratione itaque velit iure explicabo modi dolorem id delectus eos harum?  
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img [src]="img4" alt="" class="img-fluid">
                <div class="card-body">
                     <p class="h4">{{tour[3]}}</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ratione itaque velit iure explicabo modi dolorem id delectus eos harum?  
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>